<div class="wrapper">
  <div class="container">
    <div class="left">
      <img src="assets/shield.svg">
    </div>
    <div class="right">
      <div class="title">
        Authentifizierung<br />erforderlich
      </div>
      <div class="input-wrapper">
        <input [(ngModel)]="email" type="email" class="input" placeholder="E-Mail">
      </div>
      <div class="input-wrapper">
        <button (click)="requestAccess()" type="button">Überprüfen</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="alertMessage != ''" class="alert">
  <div class="alert-container">
    <img src="assets/warning.svg">
    <div [innerText]="alertMessage"></div>
  </div>
</div>
