@import "https://fonts.werkhausen.org/Roboto/style.css";
@import "https://fonts.werkhausen.org/SummerHearts/style.css";

* {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
